
<div class="l-content clearfix">
    <div class="l-sidenav">  
        <ul class="category">
            <li><a href="#"><h2>女裝最新商品</h2></a></li>
            <li><a href="#"><h2>非買不可</h2></a></li>
            <li><a href="#"><h2>美國特級棉</h2></a></li>
            <li><a href="#"><h2>踢恤設計大賽作品</h2></a></li>
            <hr>
        </ul>
        <ul class="special">
            <li><a href="#">最後一波．3件 399</a></li>
            <li><a href="#">保暖單品．1件 79折</a></li>
            <li><a href="#">早春新品．2件 88折</a></li>
            <li><a href="#">經典享受．2件 398</a></li>
            <li><a href="#">精選單品．2件 498</a></li>
            <li><a href="#">驚喜優惠．1件 299</a></li>
        </ul>

    </div>
    <div class="items clearfix">
        <img src="images/jeans.jpg" height="420" width="1010" >
        <ul class="list_display">
        <% 25.times do %> 
            <li><a href="#"><img src="images/shirt-220.png" height="160" width="160" alt="純棉TShirt-女"title="純棉TShirt-女"/></a>
                <div class="picksize"><a href="#">S</a><a href="#">M</a><a href="#">L</a>
                </div>
                <span class="productname">純棉TShirt-女<br />NT$179</span></li>
        <% end %>


                </ul>
        </div>
    </div>
