/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/screen.scss */
body {
  font-family: 'Droid Sans',Helvetica,Verdana, Arial, sans-serif;
  font-size: 16px;
  width: 940px;
  margin: 0 auto;
  background-image: url(../images/bg_html.jpg);
}

@media screen and (max-width: 940px) {
  /* line 19, ../sass/screen.scss */
  body {
    background-image: none;
    background-color: #ccc;
  }
}
@media screen and (max-width: 640px) {
  /* line 27, ../sass/screen.scss */
  body {
    background-image: none;
    background-color: #FFF;
  }
}
@media screen and (max-width: 480px) {
  /* line 34, ../sass/screen.scss */
  body {
    background-image: none;
    background-color: #C5B4BD;
  }
}
/* line 40, ../sass/screen.scss */
img {
  max-width: 100%;
}

/* line 42, ../sass/screen.scss */

a {
  text-decoration: none;
  color: #01A5CA;
}

/* line 46, ../sass/screen.scss */
a:hover {
  font-weight: bold;
  opacity: 0.7;
}

/* line 51, ../sass/screen.scss */
h2 {
  font-size: 1.5em;
}

/* line 53, ../sass/screen.scss */

.header {
  top: 0px;
  left: 90px;
  margin: 0 auto;
  width: 100%;
  text-align: right;
}

/* line 61, ../sass/screen.scss */

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 65, ../sass/screen.scss */
.clearfix:after {
  clear: both;
  overflow: hidden;
}

/* line 69, ../sass/screen.scss */
.clearfix {
  zoom: 1;
}

/* line 73, ../sass/screen.scss */
.head_logo {
  float: left;
  padding: 30px 180px 30px 20px;
}

/* line 78, ../sass/screen.scss */
.head_social {
  display: inline;
  padding: 30px 5px 40px 5px;
  float: right;
  height: 23px;
}

/* line 85, ../sass/screen.scss */
.nav-bar {
  padding: 100px 10px 30px 0px;
}
/* line 87, ../sass/screen.scss */
.nav-bar li {
  display: inline;
  padding-left: 30px;
  font-size: 0.9em;
}
/* line 91, ../sass/screen.scss */
.nav-bar li a {
  color: black;
}
/* line 92, ../sass/screen.scss */
.nav-bar li a:hover {
  color: #01A5CA;
  font-weight: normal;
  opacity: 0.7;
}

/* line 101, ../sass/screen.scss */
.l-slider {
  width: 100%;
  clear: both;
  background-color: rgba(0, 0, 0, 0.85);
}

/* line 107, ../sass/screen.scss */
.slider_left {
  float: left;
}

/* line 112, ../sass/screen.scss */
.slider_right {
  padding-left: 650px;
}

/* line 117, ../sass/screen.scss */
.slider_bigText {
  color: #01A5CA;
  font-size: 1.8em;
  padding: 45px 0px 30px 45px;
  color: #01A5CA;
  font-size: 1.8em;
}

/* line 126, ../sass/screen.scss */
.slider_smlText {
  color: white;
  padding: 0px 45px 30px 45px;
  font-weight: normal;
  line-height: 1.8em;
}

/* line 135, ../sass/screen.scss */
.slider_btn {
  font-size: 1.1em;
  border: none;
  margin-left: 45px;
  text-align: center;
  background-color: rgba(100, 100, 100, 0.85);
  color: white;
  width: 130px;
  height: 45px;
  font-size: 1.1em;
}

/* line 146, ../sass/screen.scss */
.slider_btn:hover {
  cursor: pointer;
}

/* line 150, ../sass/screen.scss */
.article {
  margin-top: 50px;
  background-color: white;
  padding: 50px;
  line-height: 1.8em;
}

/* line 157, ../sass/screen.scss */
.feature {
  margin-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
}

/* line 163, ../sass/screen.scss */
.feature_left {
  float: left;
  width: 650px;
}
/* line 166, ../sass/screen.scss */
.feature_left h2 {
  font-size: 1.5em;
  padding-top: 35px;
  padding-left: 50px;
}
/* line 171, ../sass/screen.scss */
.feature_left span {
  color: #01A5CA;
}

/* line 173, ../sass/screen.scss */
.events {
  height: 140px;
  padding: 20px 20px 10px 50px;
  line-height: 1.3em;
}
/* line 178, ../sass/screen.scss */
.events img {
  float: left;
}
/* line 182, ../sass/screen.scss */
.events p {
  margin-left: 185px;
  padding-left: 25px;
}
/* line 186, ../sass/screen.scss */
.events h4 {
  margin-left: 185px;
  padding-left: 25px;
  font-weight: bold;
}

/* line 194, ../sass/screen.scss */
.feature_right {
  float: right;
  width: 290px;
}

/* line 199, ../sass/screen.scss */
.serive_list {
  padding: 40px 0px 0px 0px;
}
/* line 202, ../sass/screen.scss */
.serive_list h2 {
  font-size: 1.5em;
}
/* line 204, ../sass/screen.scss */
.serive_list .blue {
  color: #01A5CA;
}
/* line 206, ../sass/screen.scss */
.serive_list ul {
  margin-left: 10px;
}
/* line 208, ../sass/screen.scss */
.serive_list li {
  color: black;
  margin-top: 15px;
  font-size: 0.9em;
  position: relative;
  padding-left: 17px;
}
/* line 215, ../sass/screen.scss */
.serive_list li:before {
  color: #01A5CA;
  content: "\2b29";
  left: 0;
  position: absolute;
}
/* line 220, ../sass/screen.scss */
.serive_list li:before span {
  color: black;
}

/* line 225, ../sass/screen.scss */
.findUs {
  padding-left: 10px;
}
/* line 227, ../sass/screen.scss */
.findUs h2 {
  padding-top: 40px;
}
/* line 228, ../sass/screen.scss */
.findUs span {
  color: #01A5CA;
}
/* line 230, ../sass/screen.scss */
.findUs .zipcode {
  font-size: 16px;
  width: 210px;
  height: 40px;
  margin-top: 20px;
}
/* line 236, ../sass/screen.scss */
.findUs .zipcode_btn {
  font-size: 1em;
  border: none;
  margin-top: 20px;
  background-color: #EBEBEB;
  color: #01A5CA;
  width: 100px;
  height: 40px;
}
/* line 244, ../sass/screen.scss */
.findUs .zipcode_btn:hover {
  cursor: pointer;
}

/* line 249, ../sass/screen.scss */
.l-footer {
  clear: left;
  padding-top: 35px;
  margin-bottom: 45px;
  text-align: center;
}
/* line 254, ../sass/screen.scss */
.l-footer p {
  line-height: 1.5em;
}
