/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/screen.scss */
body {
  font-family: 'Droid Sans',Helvetica,Verdana, Arial, sans-serif;
  font-size: 1em;
  width: 940px;
  margin: 0 auto;
  background-image: url(../images/bg_html.jpg);
}

/* line 17, ../sass/screen.scss */
div {
  display: block;
}

/* line 21, ../sass/screen.scss */
img {
  max-width: 100%;
}

/* line 23, ../sass/screen.scss */
a {
  text-decoration: none;
  color: #01A5CA;
}

/* line 27, ../sass/screen.scss */
a:hover {
  font-weight: bold;
  opacity: 0.7;
}

/* line 32, ../sass/screen.scss */
h2 {
  font-size: 1.4em;
}

/* line 35, ../sass/screen.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 39, ../sass/screen.scss */
.clearfix:after {
  clear: both;
  overflow: hidden;
}

/* line 43, ../sass/screen.scss */
.clearfix {
  zoom: 1;
}

/* line 50, ../sass/screen.scss */
.header {
  margin: 0 auto;
  text-align: right;
}

/* line 55, ../sass/screen.scss */
.header_logo {
  float: left;
  padding: 30px 0px 30px 20px;
}

/* line 60, ../sass/screen.scss */
.header_social {
  display: inline;
  float: right;
  padding: 30px 5px 40px 5px;
}

/* line 66, ../sass/screen.scss */
.header-nav-bar {
  padding: 100px 10px 30px 0px;
}
/* line 68, ../sass/screen.scss */
.header-nav-bar li {
  display: inline;
  padding-left: 30px;
  font-size: 1.2em;
}
/* line 72, ../sass/screen.scss */
.header-nav-bar li a {
  color: black;
}
/* line 73, ../sass/screen.scss */
.header-nav-bar li a:hover {
  color: #01A5CA;
  font-weight: normal;
  opacity: 0.7;
}

@media screen and (max-width: 570px) {
  /* line 3, ../sass/570px.scss */
  .header-nav-bar li {
    margin: 0 20px;
    display: block;
    text-align: left;
    border-top: black dotted 1px;
    padding: 10px;
  }
  /* line 10, ../sass/570px.scss */
  .header-nav-bar li:last-child {
    border-bottom: black dotted 1px;
  }
}
/* line 85, ../sass/screen.scss */
.l-slider {
  width: 100%;
  clear: both;
  background-color: rgba(0, 0, 0, 0.85);
}

/* line 91, ../sass/screen.scss */
.slider_left {
  float: left;
}

/* line 95, ../sass/screen.scss */
.slider_right {
  padding-left: 650px;
}

/* line 100, ../sass/screen.scss */
.slider_bigText {
  font-size: 2.2em;
  padding: 45px 0px 30px 45px;
  color: #01A5CA;
}

/* line 106, ../sass/screen.scss */
.slider_smlText {
  color: white;
  padding: 0px 45px 30px 45px;
  font-weight: normal;
  line-height: 1.4em;
}

/* line 114, ../sass/screen.scss */
.slider_btn {
  border: none;
  margin-left: 45px;
  text-align: center;
  background-color: rgba(100, 100, 100, 0.85);
  color: white;
  width: 130px;
  height: 45px;
}

/* line 123, ../sass/screen.scss */
.slider_btn:hover {
  cursor: pointer;
}

/* line 128, ../sass/screen.scss */
.l-article {
  margin-top: 50px;
  background-color: white;
  padding: 50px;
  line-height: 1.8em;
}

/* line 135, ../sass/screen.scss */
.l-feature {
  margin-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
}

/* line 141, ../sass/screen.scss */
.feature_left {
  float: left;
  width: 650px;
}
/* line 144, ../sass/screen.scss */
.feature_left h2 {
  font-size: 1.5em;
  padding-top: 35px;
  padding-left: 50px;
}
/* line 149, ../sass/screen.scss */
.feature_left span {
  color: #01A5CA;
}

/* line 151, ../sass/screen.scss */
.events-li {
  padding: 20px 20px 10px 50px;
  line-height: 1.3em;
}
/* line 154, ../sass/screen.scss */
.events-li img {
  float: left;
}
/* line 158, ../sass/screen.scss */
.events-li h4 {
  margin-left: 185px;
  padding-left: 25px;
  font-weight: bold;
}
/* line 163, ../sass/screen.scss */
.events-li p {
  margin-left: 185px;
  padding-left: 25px;
}

/* line 169, ../sass/screen.scss */
.feature_right {
  float: right;
  width: 290px;
}

/* line 174, ../sass/screen.scss */
.service_list {
  padding: 40px 0px 0px 0px;
}
/* line 176, ../sass/screen.scss */
.service_list h2 {
  font-size: 1.5em;
}
/* line 178, ../sass/screen.scss */
.service_list .blue {
  color: #01A5CA;
}
/* line 180, ../sass/screen.scss */
.service_list ul {
  margin-left: 10px;
}
/* line 182, ../sass/screen.scss */
.service_list li {
  color: black;
  margin-top: 15px;
  font-size: 0.9em;
  position: relative;
  padding-left: 17px;
}
/* line 189, ../sass/screen.scss */
.service_list li:before {
  position: absolute;
  color: #01A5CA;
  content: "\2b29";
  left: 0;
}
/* line 194, ../sass/screen.scss */
.service_list li:before span {
  color: black;
}

/* line 199, ../sass/screen.scss */
.findus {
  padding-left: 10px;
}
/* line 201, ../sass/screen.scss */
.findus h2 {
  padding-top: 40px;
}
/* line 202, ../sass/screen.scss */
.findus span {
  color: #01A5CA;
}
/* line 204, ../sass/screen.scss */
.findus .zipcode {
  font-size: 16px;
  width: 210px;
  height: 40px;
  margin-top: 20px;
}
/* line 210, ../sass/screen.scss */
.findus .zipcode_btn {
  font-size: 1em;
  border: none;
  margin-top: 20px;
  background-color: #EBEBEB;
  color: #01A5CA;
  width: 100px;
  height: 40px;
}
/* line 218, ../sass/screen.scss */
.findus .zipcode_btn:hover {
  cursor: pointer;
}

/* line 7, ../sass/p1.scss */
.l-sidenav {
  font-size: 0.8em;
  position: absolute;
  left: 0px;
  float: left;
  padding: 20px 0px 20px 20px;
  margin-left: 0;
  width: 148px;
}
/* line 16, ../sass/p1.scss */
.l-sidenav a {
  color: #5D3B24;
}
/* line 17, ../sass/p1.scss */
.l-sidenav hr {
  padding: 0px;
  color: gray;
  height: 1px;
}

/* line 23, ../sass/p1.scss */
.category {
  list-style-type: disc;
  list-style-position: inside;
}
/* line 26, ../sass/p1.scss */
.category li {
  padding: 10px 0px;
}
/* line 27, ../sass/p1.scss */
.category h2 {
  font-size: 1.1em;
}

/* line 30, ../sass/p1.scss */
.sale_news {
  list-style-type: circle;
  list-style-position: inside;
  padding-left: 10px;
}
/* line 34, ../sass/p1.scss */
.sale_news li {
  padding: 10px 0px;
}

/* line 37, ../sass/p1.scss */
.items {
  background-color: white;
}

/* line 41, ../sass/p1.scss */
.list_display li {
  margin-top: 10px;
  display: inline-block;
  text-align: center;
}
/* line 46, ../sass/p1.scss */
.list_display img {
  padding: 30px;
}

/* line 51, ../sass/p1.scss */
.picksize {
  text-align: center;
  padding-top: 5px;
  width: 155px;
  margin: 5px auto 0;
  padding: 0px;
}
/* line 57, ../sass/p1.scss */
.picksize a {
  text-decoration: none;
  width: 23px;
  padding: 3px 0;
  display: inline-block;
  background-color: #eee;
  border: 1px solid #eee;
  color: #555;
  -webkit-text-size-adjust: none;
  font-size: 12px;
  font-family: Arial;
  margin: 4px 15px 0 0;
  text-align: center;
}

/* line 72, ../sass/p1.scss */
.productname {
  width: 140px;
  line-height: 2.5;
  color: gray;
}

/* line 225, ../sass/screen.scss */
.l-footer {
  clear: left;
  padding-top: 35px;
  margin-bottom: 45px;
  text-align: center;
}
/* line 230, ../sass/screen.scss */
.l-footer p {
  line-height: 1.5em;
}

@media screen and (max-width: 940px) {
  /* line 3, ../sass/tablet.scss */
  body {
    width: 100%;
  }

  /* line 13, ../sass/tablet.scss */
  .header-nav-bar {
    clear: both;
    padding: 0px 0px 20px 0px;
  }

  /* line 24, ../sass/tablet.scss */
  .slider_left {
    padding: 0;
    float: none;
    width: 100%;
  }

  /* line 31, ../sass/tablet.scss */
  .slider_right {
    padding: 20px;
    text-align: center;
  }

  /* line 36, ../sass/tablet.scss */
  .slider_bigText {
    padding: 0px;
    padding-top: 10px;
  }

  /* line 41, ../sass/tablet.scss */
  .slider_smlText {
    margin: 0 20% 0 20%;
    padding: 0;
    padding-top: 20px;
    text-align: left;
    font-size: 1.2em;
  }

  /* line 49, ../sass/tablet.scss */
  .slider_btn {
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
  }

  /* line 55, ../sass/tablet.scss */
  .slider_btn:hover {
    cursor: pointer;
  }

  /* line 59, ../sass/tablet.scss */
  .l-article {
    margin-top: 0px;
  }

  /* line 63, ../sass/tablet.scss */
  .l-feature {
    margin-top: 0px;
    background-color: #f0f0f0;
  }

  /* line 68, ../sass/tablet.scss */
  .feature_left {
    float: none;
    width: 100%;
    padding-bottom: 20px;
  }

  /* line 74, ../sass/tablet.scss */
  .events-li {
    clear: left;
  }

  /* line 79, ../sass/tablet.scss */
  .feature_right {
    background-color: white;
    float: none;
    width: 100%;
  }

  /* line 85, ../sass/tablet.scss */
  .service_list {
    text-align: center;
    margin: auto;
    padding-bottom: 30px;
  }
  /* line 89, ../sass/tablet.scss */
  .service_list li {
    font-size: 1.2em;
  }
  /* line 92, ../sass/tablet.scss */
  .service_list li:before {
    position: relative;
  }

  /* line 97, ../sass/tablet.scss */
  .findus {
    background-color: #f0f0f0;
    text-align: center;
  }
}
